{% include "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="body">
    {% include 'partials/navbar.html' %}

    <div class="pic-list">
      
        <div class="pic-filter">
          <button class="pic-filter__button selected" data-filter="new">
            <div class="pic-filter__btn-text">#최신</div>
          </button>
          <button class="pic-filter__button" data-filter="man">
            <div class="pic-filter__btn-text">#남성성</div>
          </button>
          <button class="pic-filter__button" data-filter="wom">
            <div class="pic-filter__btn-text">#여성성</div>
          </button>
          <button class="pic-filter__button" data-filter="today">
            <div class="pic-filter__btn-text">#열등감</div>
          </button>
          <button class="pic-filter__button" data-filter="today">
            <div class="pic-filter__btn-text">#우월감</div>
          </button>
          <button class="pic-filter__button" data-filter="today">
            <div class="pic-filter__btn-text">#수치</div>
          </button>
          <button class="pic-filter__button" data-filter="today">
            <div class="pic-filter__btn-text">#혜라엄마</div>
          </button>

          <div>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>

        
       
        </div>

      
        
      </div>

      <div class="pic-list__list">
        {% for abcd in abc %}
        <a href="" class="project" target="blank" data-type="new">
          <img src="{{abcd.get_photo_url}}" class="project__img" />
          <div class="project__description">
            <h3>{{abcd.제목}}</h3>
            <span>{{abcd.desc}}</span>
          </div>
        </a>
        {% endfor %}
</div>




      <div class="pic-list__page">
        {% if abc.has_previous %}
        <a class="pic-list__pageicons" href="?page={{abc.number|add:-1}}"><i class="fas fa-chevron-left  "></i></a>
       {% endif %}

         Page {{abc.number}} of {{abc.paginator.num_pages}}
          
       {% if abc.has_next  %}
      
        <a class="pic-list__pageicon" href="?page={{abc.number|add:1}}"> <i class="fas fa-chevron-right "></i></a>
       {% endif %}


        </div>



         <div>
          <form method="get" action="{% url 'core:search' %}" class="picture__search">
           
            <div class="pic__search-box">
                <input name="city" placeholder="" class="pic__search-bar " value="{{city}}" >
                <div class="pic__search-placeholder">
                  <i class="fas fa-search"></i></input>
                  <p class="sc-searchbox-placeholder-text">Search </p>
                </div>
                
            </div>
            <!-- 글 작성 버튼은 관리자만 보이도록 해주세요 -->
        </form>
      </div>

    </div>

    <section id="contact" class="section">
      
      <h2 class="contact__email">donghe1472@gmail.com</h2>
      <div class="contact__links">
        <a href="https://github.com/dream-ellie" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </div>
      <p class="contact__rights">2023 prodouct</p>
    </section>

    
     <button class="arrow-button">
      <i class="fas fa-arrow-up"></i>
    </button>
    <script type="text/javascript" src="{% static 'js/arrow-sec.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/arrow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pic-filter.js' %}"></script>

    
  </body>
</html>
