.arrow-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  pointer-events: none;
  opacity: 0;
}

.arrow-button.visible {
  opacity: 1;
  pointer-events: auto;
}
